*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body{
  color: white;
  background-color: #1b1b32;
  font-family: Lato, sans-serif;
}

h1{
  color: #1b1b32;
  font-size: 25px;
  font-family: Roboto, sans-serif;
  text-align: center;
  margin: 20px 0;
}

h3{
  color: #1b1b32;
  margin: 12px 0;
  font-size: 30px;
}

h4{
  color: #1b1b32;
  margin: 12px 0;
  font-size: 20px;
}

.aplicacion-menu{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.aplicacion-logo-contenedor{
  width: 100%;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aplicacion-logo{
  width: 400px;
  height: 50px;
}

.aplicacion-lista-menu{
  width: 1000px;
  min-height: 500px;
  background-color: #d0d0d5;
  padding: 25px;
  margin: 10px;
  justify-content: center;
  border-radius: 26px;
}